  <h1><%= @ad.name %></h1>
  <dl>
    <dt><%= Ad.human_attribute_name :category %></dt>
    <dd><%= @ad.category %></dd>
    <dt><%= Ad.human_attribute_name :description %></dt>
    <dd><%= @ad.description %></dd>
    <dt><%= Ad.human_attribute_name :photo %></dt>
    <dd><%= @ad.photo %></dd>
    <dt><%= Ad.human_attribute_name :price %></dt>
    <dd><%= @ad.price %></dd>
    <dt><%= Ad.human_attribute_name :quantity %></dt>
    <dd><%= @ad.quantity %></dd>
  </dl>

  <% if current_user == @ad.user %>
    <div> <%= link_to 'Apagar', ad_path(@ad), method: :delete,
    data: { confirm: 'Tem certeza que deseja apagar?' } %> </div>
  <% end %>

  <% if (current_user != @ad.user) and (@ad.status == 'active') %>
    <div> <%= link_to 'Comprar', {:action => :buy, :id => @ad.id}, :method => :put %> </div>
  <% end %>

  <% if (current_user == @ad.user) and (@ad.status == 'on_hold') %>
    <div> <%= link_to 'Confirmar venda', {:action => :sell, :id => @ad.id}, :method => :put %> </div>
  <% end %>

  <% if (current_user == @ad.user) and (@ad.status == 'on_hold') %>
    <div> <%= link_to 'Cancelar venda', {:action => :cancel, :id => @ad.id}, :method => :put %> </div>
  <% end %>

  <% if current_user != @ad.user %>
    <h2>Acesse o perfil do vendedor para enviar mensagens sobre o anúncio:</h2>
    <div> <%= link_to  "#{@ad.user.social_name}", user_path(@ad.user_id) %> </div>
  <% end %>

  <% if current_user == @ad.user %>
    <%= link_to 'Mensagens de interessados', conversations_path %>
  <% end %>




