<div>
  <dl>
    <dt>Nome</dt>
    <dd><%= @user.social_name %></dd>
    <dt>Email</dt>
    <dd><%= @user.email %></dd>
    <dt>Cargo</dt>
    <dd><%= @user.occupation %></dd>
    <dt>Setor</dt>
    <dd><%= @user.department %></dd>
    <dt>Empresa</dt>
    <dd><%= @user.company_name %></dd>
  </dl>
</div>

<%= render partial: 'user' %>