<h1>Escambo Net</h1>

<% if user_signed_in? %> 

    <div> <%= link_to 'Criar Anúncio', new_user_ad_path(current_user.id) %> </div>
   
    <div> <%= link_to 'Meus Anúncios', user_ads_path(current_user.id) %> </div>

    <%= form_with url: search_user_ads_path(current_user.id), method: :get, local: true do |f| %>
    <%= f.label :q, 'Buscar um anúncio' %>
    <%= f.text_field :q %>
    <%= f.submit 'Buscar' %>
<% end %>

<% end %>

