<h1>Escambo Net</h1>

<% if user_signed_in? %> 

    <div> <%= link_to 'Criar Anúncio', new_ad_path %> </div>
   
    <div> <%= link_to 'Meus Anúncios', ads_path %> </div>

    <%= form_with url: search_ads_path, method: :get, local: true do |f| %>
    <%= f.label :q, 'Buscar um anúncio' %>
    <%= f.text_field :q %>
    <%= f.submit 'Buscar' %>
<% end %>

<% end %>

